* {
  /* box-sizing: border-box; */
  margin: 0;
  padding: 0;
}

body {
  background-color: #383b47;
  font-family: "Fredoka One", cursive;
  /* "Noto Sans KR", sans-serif */
  font-weight: normal;
  color: #efefef;
  text-decoration: none;
}

.container {
  width: 60%;
  max-width: 47rem;
  min-width: 19rem;
  height: 50rem;
  min-height: 50rem;
  margin: 3rem auto 3rem auto;
  border: #ff5050 0.3rem solid;
  /* background-color: transparent; */
  background-image: url("/blueMoon.png");
  background-size: 100% 21rem;
  background-repeat: no-repeat;
  background-position: bottom;
  z-index: 0;
  flex-direction: column;
}

.todoListDIv {
  position: relative;
  width: 75%;
  height: 13rem;
  margin: 4rem auto 0 auto;
  overflow-x: hidden;
  overflow-y: auto;
}

.todoListDIv::-webkit-scrollbar {
  display: none;
}

.starsTopRight {
  width: 100%;
  position: relative;
  box-sizing: border-box;
  margin-top: 0.1rem;
  background-image: url("/stars2.png");
  background-size: 13rem 13rem;
  background-repeat: no-repeat;
  background-position: top right;
}

.starsTopLeft {
  width: 100%;
  position: relative;
  box-sizing: border-box;
  margin-top: 0.2rem;
  background-image: url("/stars1.png");
  background-size: 13rem 13rem;
  background-repeat: no-repeat;
  background-position: top left;
}
